@font-face
{
	src: url(MarvelRegular-Dj83.ttf);
	font-family: marvel;
}

body 
{
	background-color: #024f9c;
}

h1 
{
	text-align: center;
	font-family: 'marvel';
	background-color: red;  
	width: 520px; 
	border: 5px solid Black; 
	padding-top: 15px;
	margin: 20px;
	color: white;
	font-size: 100px;
	font-weight: 500;
}

p
{
	margin: 20px;
	font-size: 20px;
}